@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);



#msg-box2-8 H2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #646262;
}
#msg-box2-7 H2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #646262;
}
#msg-box2-6 H2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #646262;
}
